.header__link {
    cursor: pointer;
    text-decoration: none;
    color: #2f80ed;
    display: block;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.header__link:hover {
    opacity: 0.5;
}
