@import url(__triangle/kaufman__triangle.css);

.kaufman {
    display: block;
    overflow: hidden;
    background-color: #1f1f1f;
    position: relative;
    z-index: 1;
    padding-top: 90px;
    padding-bottom: 90px;
}