.cards__item {
    /* border: 1px solid red;    --uncomment for debugging if needed */
    margin-right: 100px; /* Temporary attempt to space elements out */
    width: 240px;
    min-width: 240px;
}

.cards__item:nth-of-type(3) {
    margin-right: 0;
}