.feynman__subtitle {
    display: block;
    position: relative; /* Allows me to put it in front of the feynman image */
    margin: 0 auto;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    z-index: 2;
}