.resources__logo {
    width: 270px;
    height: 30px;
    margin: 0;
    padding: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.resources__logo:hover {
opacity: 0.5;
}
